[2019-09-18 22:46] Daejangnamu opened #3 "Paper async save problem"
[latest.zip](https://github.com/Trivernis/spigot-chunkmaster/files/3628626/latest.zip)

log check it please

**1.** `[07:06:10] [Server thread/FATAL]: Failed to prepare async save, attempting synchronous save
java.lang.ArrayIndexOutOfBoundsException: 163
	at it.unimi.dsi.fastutil.longs.Long2ObjectOpenHashMap.get(Long2ObjectOpenHashMap.java:348) ~[patched_1.14.4.jar:git-Paper-192]
	at net.minecraft

[2019-09-19 08:20] Trivernis commented on #3
So I found some similar looking issues for [WorldBorder](https://www.spigotmc.org/threads/worldborder.339635/page-8) and think that this problem might be caused because of still pending chunks while the world is being saved.

There is also an [issue](https://github.com/PaperMC/Paper/issues/2104) for papermc regarding the saving of single chunks.

[2019-09-20 08:32] Trivernis commented on #3
[Forum entry on papermc forum.](https://papermc.io/forums/t/problem-with-async-saves/1787)

[2019-09-21 09:05] Trivernis commented on #3
[Answer](https://papermc.io/forums/t/problem-with-async-saves/1787/2?u=trivernis)

Therefore I'm removing the chunk unloading on save-event again.

[2019-09-21 09:05] #3 closed, assigned to Trivernis

[2019-09-30 13:37] axipher opened #9 "Database Error: Error creating table generation_tasks"
I'm having a hard time getting ChunkMaster to work on PaperMC 1.14.4 Build #207

[code]

I get the above error during server start-up and then any Chunkmaster commands afterwards cause Warnings as the database isn't set up.

The plugin is generating the files, but can't create the tables.

[code]

The server is running as a service through systemctl using the guide here: https://minecraft.gamepedi

[2019-09-30 13:49] Trivernis commented on #9
@axipher Are there any other errors that appear in the log? What plugins are installed?
Does it work when you delete the `chunkmaster.db` file (so it gets recreated again on startup)?

[2019-09-30 13:59] axipher commented on #9
No other errors, here is a pastebin of the log file: https://pastebin.com/UunuM35T

After the server has been up for a few minutes, I get this warning:

[code]

Plugins:
- chunkmaster.jar
- Dynmap-3.0-beta-5-spigot.jar
- EssentialsX-2.17.1.0.jar
- GriefPrevention.jar
- worldedit-bukkit-7.0.1.jar

I tried deleting the database file and restarting the server and same Error happened where it couldn't

[2019-10-02 08:14] Trivernis commented on #9
Can you test it with the [latest build](https://21-208644898-gh.circle-artifacts.com/0/build/chunkmaster-0.12-beta.jar) and tell me what the error is?

[2019-10-02 11:47] axipher commented on #9
Here is the log: https://pastebin.com/xpSY4v0r

[code]

Then after a couple minutes of uptime:
[code]

[2019-10-02 12:00] Trivernis commented on #9
So the database file is locket which is probably because one statement wasn't closed. I think I fixed it but because the error never occured for me I can't test it. Can you test with [this build](https://22-208644898-gh.circle-artifacts.com/0/build/chunkmaster-0.13-beta.jar) if the error still occurs? If it does occur can you check if other processes are using the database file (for whatever reaso

[2019-10-02 12:21] axipher commented on #9
Tried the new build, made sure to delete the ChunkMaster folder, still get the following error:
[code]

I ran `fuser` and the only thing that is using `chunkmaster.db` is the PID for the java process running minecraft.

My quick googling just kept going back to saying this can typically happen if you have more than one connection open to the database by forgetting to close a connection.  I haven't

[2019-10-02 14:22] Trivernis commented on #9
I've rewritten the whole database management stuff and ensured that every statement gets closed. I also switched to establishing a connection only when performing database operations and closing it afterwards.
You can test [this build](https://23-208644898-gh.circle-artifacts.com/0/build/chunkmaster-0.13-beta.jar), if that doesn't work I'm out of ideas.

[2019-10-02 15:25] axipher commented on #9
So it's still not working on my Linux box, see below for errors and troubleshooting.  I did decide to grab a copy of the server and copy it to my Windows Laptop and it runs perfectly fine on there, no issues and chunkmaster.db becomes a non-zero size with no errors.

On the Linux side, I decided to try `lsof chunkmaster.db` and it looks like when the Error during table generation happens, it jumps

[2019-10-02 16:38] Trivernis commented on #9
Okay, thanks for all the information. I guess it is a problem with the sqlite jdbc driver then. Maybe it is not supported on Ubuntu 16, it is working on my Ubuntu Server 18 machine.

I'm going to test if it is an issue with the ubuntu version.

[2019-10-02 16:48] axipher commented on #9
Sounds good, let me know if you need any additional help or testing.

I can give it a quick try on my Ubuntu 19.04 PC tonight.

If you have it working on 18 though, I may also look at upgrading the VM that is currently at 16.04 to 18.04 as a early solution if I get a chance to.

[2019-10-02 17:37] Trivernis commented on #9
I've tested it on ubuntu 16.4.6 with paper #207 without problems

Edit: At least the problem with multiple connections being established on error should be fixed.

[2019-10-02 18:54] axipher commented on #9
I finally had some time to sit down and start trying to replicate the issue, turns out its something that is so simple that it hurts, but the errors messages are not clear from SQLite at all.

I completely forgot that my Servers were being stored on share on my Host System (Unraid) and the VM (Ubuntu 16.04.6) was mounting that share with full permissions as a `cifs` share.  So SQLite could create

[2019-10-02 19:07] Trivernis commented on #9
Well, at last we've got that figured out. I added a config parameter to change the name of the database file (including extension) in [the latest build](https://25-208644898-gh.circle-artifacts.com/0/build/chunkmaster-0.13-beta.jar).

[2019-10-02 19:07] #9 closed, assigned to Trivernis

[2019-10-02 19:25] axipher commented on #9
So I tried it with a custom path and it looks like it gets forced to a relative path so its adding my full path I defined to the Chunkmaster folder:

I changed `config.yml` as follows:
[code]

And get this error:
[code]

Now I can get around the Error by editing the `config.yml` file as follows and adding a bunch of `../` to get back to the root file system then back through the home directory and

[2019-10-02 19:34] Trivernis commented on #9
Yes, the path is always relative to the folder of the plugin

[2019-10-02 19:42] axipher commented on #9
Well thanks for adding the configuration option to the plugin at least, will test this later tonight when I have time to actually login to the server as a player and see it in action.

[2019-10-24 02:28] Kenaestic opened #11 "Running Chunkmaster produces errors in my server console"
I'm generating chunks in world and the server console keeps logging these errors:

What I suspect is Advanced Dungeons is spawning catacombs with mob skulls that are modified somehow and Chunkmaster reading it as a vanilla block.

[2019-10-24 04:14] Kenaestic commented on #11
Here's two more.

[2019-10-28 10:44] Trivernis commented on #11
This error is related to the chunk generation itself which is only triggered by this plugin. Chunkmaster requests chunks to be loaded the generation itself is handled by the server and therefore unrelated to the plugin.

[2019-10-28 10:44] #11 closed, assigned to nobody

[2019-12-08 22:42] a3s opened #12 "[question] What is your average speed?"
I would like to know what generation speed can I expect by using it.
Currently I generate 1.14.4 world on Paper and average is ~22 chunks/sec.
Is it low?

[2019-12-09 18:29] Trivernis commented on #12
No, thats about the average speed I get too.

[2019-12-09 21:36] a3s commented on #12
OK, thanks.
Great plugin, the ability to generate only on empty server is huge. Works good.

[2019-12-09 21:36] #12 closed, assigned to nobody

[2019-12-20 01:01] resi23 commented on #12
i have ~60 with 3 Tasks. 20 per Task

[2020-01-13 14:27] Shawn11564 opened #13 "Plugin skips large areas of land when using generate command"
I’m running the latest version of ChunkMaster on my paperspigot 1.15 server (latest build of paperspigot). I’m using ChunkMaster in tandem with Dynmap to generate a full render of my world map. After setting a worldborder, I began generating the world. If you look at the render: http://54.39.122.230:8092/ you can see it left large chunks of land unfilled. Any idea if I can fix this with config set

[2020-01-13 14:56] Trivernis commented on #13
If you are using dynmap and generation in parallel it can happen that dynmap skips on some chunks when rendering.
To be safe I'd recommend doing a full render of the map after the chunkmaster generation has finished.

[2020-01-13 15:00] Shawn11564 commented on #13
Yeah, while doing a fullrender with dynmap it seems to be filling in the gaps. Thanks for the help!

[2020-01-13 15:03] #13 closed, assigned to nobody

[2020-01-20 17:13] mxs42 opened #14 "Ability to generate past world border"
I want to generate world past existing world border but because of [this](https://github.com/Trivernis/spigot-chunkmaster/blob/master/src/main/kotlin/net/trivernis/chunkmaster/lib/generation/GenerationTaskPaper.kt#L39) plugin stops generation since `borderReached` checks world border.
I think plugin shouldn't check world border if you specify amount of chunks manually.

[2020-01-20 18:29] Trivernis commented on #14
The plugin checks if the vanilla world border is reached which is very unlikely to happen with the default radius. If you decreased the world border by command and want to generate past it, I wonder what the use of that would be since it is not possible to wander around behind the world border (for very long).

[2020-01-20 18:43] mxs42 commented on #14
I want to generate on a live server. I mean, currently I have 40K world border and I want to expand it, that's why I need to generate past existing world border so players still can not go outside until I fully generate extended radius.

[2020-01-20 18:45] mxs42 commented on #14
It's not a big deal, I can fork it and tune myself, just thought it can be useful because I was confused when it stopped at 40% when I specified radius manually.

[2020-01-20 18:52] Trivernis commented on #14
Oh, okay. Maybe I could add a config option for that in a future release.

[2020-01-20 19:52] mxs42 commented on #14
Made some changes in https://github.com/mxs42/spigot-chunkmaster
Maybe it could be useful for somebody

[2020-01-23 22:58] #14 closed, assigned to nobody

[2020-01-29 10:56] Trivernis opened #16 "Configurable messages/localization"
# Summary

- Custom messages
- Custom message color
- localization packs/files?

[2020-01-29 10:57] Trivernis opened #17 "Estimate about time to complete"
# Summary

- show an estimate about the time it takes for a task to complete

[2020-01-29 13:04] skerit opened #18 "Chunkmaster does not generate anything"
If I start to generate the world with this command:

[code]

Ok, so I list the progress:

[code]

0 chunks have processed... After a while I get this:

[code]

Even when I specify a chunk amount, it just does nothing.

I'm running Paper 1.15.2

[2020-01-29 18:42] Trivernis commented on #18
Did you change something in the configuration? Did you change the width of the world border?

[2020-01-30 10:32] itsfolf opened #19 "Not generating the correct amount of chunks"
I'm attempting to generate a 8000 radius square around my spawn point (-1000, 1000) which should be about 1 million chunks, however, chunkmaster is stopping around halfway through at 566260 chunks. Both the worldborder center and the world spawn point are correctly set to -1000,1000 and the world border is 16000 blocks wide, I can't seem to find any reason that would cause this issue.

Here's the

[2020-01-30 10:37] fuwwy commented on #19
There's an error right after the ending of the task, perhaps it could be related
![Screenshot_20200130-103445](https://user-images.githubusercontent.com/9268058/73442318-88356e80-434c-11ea-8b66-9da3aff34850.png)

[2020-01-30 11:05] Trivernis commented on #19
The only reason for chunkmaster to stop early is reaching the worldborder. I'm investigating if there might be an issue with the checks if the border is reached. For now you could test if it still stops early when setting `ignore-worldborder` in the config to `true`.

[2020-01-30 18:59] itsfolf commented on #19
I added some logging to the borderReached method and it ended at chunk `-439 -305` however I teleported there and it's over 2000 blocks away from the border, there's definitely something wrong with how that's calculated

[2020-01-30 19:30] Trivernis commented on #19
I think I found the bug.
Basically when converting the chunk coordinates into a location to check if its inside the border I used the x-coordinate instead of the x and z coordinate.
`return Location(world, ((x*16) + 8).toDouble(), 1.0, ((x*16) + 8).toDouble())`

[2020-01-30 19:48] itsfolf commented on #19
Ah yes it's always those pesky mistakes 😅 I'm gonna test that

[2020-01-30 21:05] itsfolf commented on #19
Seems to be working perfectly now, I'm going to close the issue.

[2020-01-30 21:05] #19 closed, assigned to nobody

[2020-02-05 16:46] #16 closed, assigned to nobody

[2020-02-05 16:46] #17 closed, assigned to nobody

[2020-02-06 10:52] Trivernis opened #21 "[FEATURE] Delete/Trim chunks"
The opposite of generating them

[2020-02-06 13:54] Trivernis opened #22 "Add option to set the center"
Add an option to configure the center of the generation process.

[2020-02-08 17:04] Trivernis commented on #18
Does the error still occur in the latest version? Else I'm going to close this.

[2020-02-09 15:38] Asparasu opened #24 "Chunkmaster pregen chunks gone"
Some time ago I successfully pre-generated my 20k by 20k server world. Today I noticed that my server ram was being drained and chunks were loading in slow so I suspected It had something to do with the chunk generation. I installed dynmap and rendered the world, to my surprise only the chunks around spawn and some chunks I flied in before popped up.

I'm confused how it's possible that the world

[2020-02-09 15:54] Trivernis commented on #24
All the plugin does, is trigger the generation of chunks in a spiral so It's not possible for it to delete chunks.

Did you confirm that the world was successfully generated when you did it the first time? Is there the possibility that you reset the world to an earlier state?

[2020-02-09 16:12] Asparasu commented on #24
![finished](https://user-images.githubusercontent.com/60849647/74105454-2fd94a80-4b5e-11ea-853e-fd285193add6.PNG)

No I never touch the world directory and I don't have any plugins that would be capable of this. On another note, does chunkmaster generate region files? Since the server has a lot of region files that I myself didn't explore.

[2020-02-09 16:46] Trivernis commented on #24
No, chunkmaster doesn't generate any files aside from the `chunkmaster.db`to keep track of running tasks and the config file. Did you use the latest version? Because this might be related to #19.

[2020-02-09 16:49] Asparasu commented on #24
I will try and see if I have any luck with the latest, im currently on chunkmaster-0.13-beta.

[2020-02-09 16:56] Trivernis commented on #24
Okay, let me know :+1:

[2020-02-11 07:17] MitchTalmadge commented on #22
I'd love this functionality. No rush bro, thanks for the plugin.

[2020-02-11 14:34] #18 closed, assigned to nobody

[2020-02-17 11:40] BijuuKrunos opened #25 "Is there a chunks/sec limiter?"
Heyho realy nice plugin love it.
But I want to setup that Chunkmaster is allowed to generade more than 20 Chunks/sec.
I configured my config that he should do huge more than that. but it seems to be captched by 20.

My config.
`generation:
  period: 1
  chunks-per-step: 10
  chunk-skips-per-step: 200
  mspt-pause-threshold: 1000
  pause-on-join: true
  max-pending-chunks: 100
  max-loaded-chunks:

[2020-02-17 15:45] Trivernis commented on #25
No, this is probably not a bug but your server is probably just unable to generate more than 20 chunks per second. The generation process is very heavy on the cpu so that probably limits it.

[2020-02-17 16:33] BijuuKrunos commented on #25
Dont think so. my server is on 40% not more. he can easy more. there have to be a cap

[2020-02-17 16:38] Trivernis commented on #25
Are you using spigot or paper?

[2020-02-17 17:39] BijuuKrunos commented on #25
paper of course :*

[2020-02-17 17:42] Trivernis commented on #25
Hmm that should at least speed up the saving of chunks.
I think the 1.15 version of paper doesn't support multithreaded chunk generation (yet) so that might be one reason why it doesn't use the whole processing power.
As for the plugin it doesn't have a hard coded limit so 20 chunks/sec might be the maximum speed.

[2020-02-20 14:58] #25 closed, assigned to nobody

[2020-02-27 16:24] Southpaw1496 opened #26 "ChunkMaster hasn't loaded all the chunks in my world"
I'm getting an issue where if I run `chunkmaster generate world` which I believe is supposed to generate all chunks up to the world boarder it hasn't. Below is a screenshot of Dynmap for you to observe.
![Screenshot 2020-02-27 at 4 15 18 pm](https://user-images.githubusercontent.com/44805409/75462956-f8033d00-597c-11ea-8ea4-1bb31491a610.png)
As you can see it neatly stops before it is finished, le

[2020-02-27 16:34] Trivernis commented on #26
Is the red border also the vanilla world border? If it is then the generation stops because the plugin has reached the world border. You can turn off that behavior in the config file.

[2020-02-27 16:35] Southpaw1496 commented on #26
The red boarder is the vanilla boarder.

[2020-02-27 16:38] Trivernis commented on #26
Okay, since the plugin generates in a spiral it reaches the border in the lower right and stops generating. You can either turn that off as I mentioned before or use the not yet released [1.15 version](https://46-208644898-gh.circle-artifacts.com/0/build/chunkmaster-0.15-beta.jar) which allows you to set a different center for the generation.

[2020-02-27 16:40] Southpaw1496 commented on #26
So if I turn it off it’ll just keep going to infinity, will it?

[2020-02-27 16:44] Trivernis commented on #26
Yeah, you should set a limit if you turn it off.

[2020-02-27 16:46] Southpaw1496 commented on #26
So if I set I set my World Boarder to 8000 blocks and I set this to 8000 will it generate to the worldboarder?
Also, why does the plugin generate in a spiral if the world boarder is a square?

[2020-02-27 16:53] Trivernis commented on #26
If the world border is 8000 blocks in radius you can create a generation task for that with `chm generate world 8000 blockradius`.
The plugin generates in a spiral because the most common use case is that you don't generate the whole world at once. Since it can take a while you don't want to have a slice of chunks at the very top of a square generated but the chunks around the spawn which you will

[2020-02-27 16:54] Southpaw1496 commented on #26
Perhaps you should add square generation as a config in the future, but thanks for the help!

[2020-04-09 05:56] Trivernis opened #27 "Add optional dynmap bindings to trigger the rendering of generated chunks"

[2020-04-10 09:26] ghost opened #28 "chunkmaster generating at 10ch/s"
[11:23:16] [Server thread/INFO]: [Chunkmaster] Task #1 running for 'world'. Progress: 40346 chunks (0.01%) , ETA: 11109:14:58, Speed: 10.0 ch/s, Last Chunk: -84, 56
as seen here the plugin only generates 10cunks per second, while the processor usage is like 0.2%, in case you need it here is the config file:
`generation:
  period: 2
  chunks-per-step: 100
  chunk-skips-per-step: 100
  mspt-pause-th

[2020-04-10 10:25] Trivernis commented on #28
You could set the config property `period` to one which means that the generation tasks runs every tick instead of every second tick. This should speed things up.
For even better performance I'd recommend to use paper instead of spigot since it handles the loading and saving of chunks asynchronously.

[2020-04-10 17:11] cloakfox commented on #28
Having same issue, doesnt matter to what I change the config values, the chunks per second speeds will always stay at 40 ch/s for me.

Edit: atleast this plugin works on paper 👍

[2020-04-10 17:15] Trivernis commented on #28
Well about 40 ch/s also is the max speed I've experienced so far. The cause probably is that the generation itself still is single threaded so it's a hardware and design limitation caused by minecraft itself.

[2020-04-11 12:43] #22 closed, assigned to nobody

[2020-04-11 12:43] #27 closed, assigned to nobody

[2020-04-11 21:10] despair86 opened #30 "UnsatisfiedLinkException caused by shipped copy of sqlite-jdbc"
paper and spigot already ship it themselves and i had to delete the one in here to avoid `UnsatisfiedLinkException` on a Sun amd64 server (the default sqlite-jdbc does not ship with any DLLs for Oracle hardware)

[2020-04-11 21:25] #28 closed, assigned to nobody

[2020-04-11 21:51] Trivernis commented on #30
This should be solved by making `sqlite-jdbc` a compileOnly dependency, right?

[2020-04-12 07:32] Trivernis opened #31 "[FEATURE] Player count toggleable pausing"
# Summary

Instead of pausing the generation when the server is not empty it might be better to pause it when a specific player count is reached.

[2020-04-19 15:44] Mortderas opened #34 "Server spits out stack traces when generating with Realistic World Generator"
Why does the plugin stagger at Cave 5 while pregenerating? I am using Realistic World Generator.
https://mcpaste.io/da15e7bfbe8c220a

[2020-04-19 16:49] Trivernis commented on #34
I don't know if this is related to the plugin since it doesn't appear in the logfile at all.
But If it is the reason might be that too many chunks are requested at once (chunks-per-step) which slows the server down. Papers watchdog is noticing that and dumping stack-traces.

[2020-04-19 17:14] Mortderas commented on #34
Well I've set it before on one chunk per step

[2020-04-19 17:15] Mortderas commented on #34
I've made this change now mspt-pause-threshold: 1000

[2020-04-19 17:17] Trivernis commented on #34
What was the previous value?

[2020-04-19 17:17] Mortderas commented on #34
500

[2020-04-19 17:18] Trivernis commented on #34
In order to decrease lag you should decrease the value since its the maximum time a tick is allowed to take before the generation task pauses.

[2020-04-19 17:19] Trivernis commented on #34
Basically just do the opposite of [this guide](https://github.com/Trivernis/spigot-chunkmaster/wiki/Increase-the-generation-speed)

[2020-04-19 17:19] Mortderas commented on #34
It works just fine now, the server is under lockdown

[2020-04-19 17:28] Trivernis commented on #34
Good to know, so is your question answered by that?

[2020-04-19 17:58] Mortderas commented on #34
Skipped 495 lines due to rate limit (500/s) and it's set on 1000

[2020-04-19 17:58] Mortderas commented on #34
One second please

[2020-04-20 07:26] Mortderas commented on #34
Well there's a problem. When I type /chm list there are no tasks, though if I leave the server, the plugin starts generating again, staggering at the 5th cave. Also, firstly when I saw there's no task, I've assigned another task, smaller this time, and it is not in the list. I think the plugin bugged :/

[2020-04-20 07:29] Mortderas commented on #34
After I leave the server it continues the task. https://mcpaste.io/3fa85718b7085ae6

[2020-04-20 07:30] Mortderas commented on #34
20.04 09:29:59 [Server] INFO [Chunkmaster] Task #5 running for 'world'. Progress: 73663 chunks (7.35%) , ETA: 0:25:38, Speed: 603.4 ch/s, Last Chunk: 69, 138

[2020-04-20 07:30] Mortderas commented on #34
I've set it to 1ch/s but it goes further

[2020-04-20 07:31] Mortderas commented on #34
20.04 09:30:29 [Server] INFO [Chunkmaster] Task #5 running for 'world'. Progress: 73707 chunks (7.36%) , ETA: 175:34:43, Speed: 1.5 ch/s, Last Chunk: 113, 138 Now it went back to normal. BUT I must let you know that I've updated Realistic World Generator

[2020-04-20 07:32] Trivernis commented on #34
It's that fast because it's skipping chunks until it reaches one that hasn't been generated yet.
Thats also why the speed drops when it has reached chunks that weren't generated yet.
If you don't mind would you send the full log from where you listed all running tasks and where you started the new one.

[2020-04-20 07:36] Trivernis commented on #34
If you don't want to paste it here you can also send it to me via mail at support@trivernis.net.

[2020-04-20 07:36] Mortderas commented on #34
Mortderas logged in!
20.04 09:35:42 [Server] INFO Mortderas issued server command: /chm list
20.04 09:35:48 [Disconnect] User Mortderas has disconnected, reason: Disconnected
This is in the console

[2020-04-20 07:37] Trivernis commented on #34
Hmm, did you do that right after the server started?

[2020-04-20 07:37] Mortderas commented on #34
Yes

[2020-04-20 07:38] Trivernis commented on #34
Did the plugin report that it has loaded the tasks from the database already? Because the loading of tasks is delayed by 30 sec after the server started to reduce load. This will be changed in the next version but currently its the case.

[2020-04-20 07:40] Mortderas commented on #34
No it didn't report, whenever I leave the server, it presents this
0.04 09:40:08 [Server] INFO [Chunkmaster] Resuming chunk generation task for world 'world'...
20.04 09:40:08 [Server] INFO [Chunkmaster] 1 saved tasks loaded.

[2020-04-20 07:43] Trivernis commented on #34
Hmm, I think I need the full logfile to really understand it but my guess is that the tasks weren't loaded when you tried to list them.

[2020-04-20 12:42] Mortderas commented on #34
Any idea what are those?
20.04 12:28:18 [Server] Startup 2020-04-20 10:28:18,651 Thread-2 WARN [AsyncContext@70dea4e] Ignoring log event after log4j was shut down.
20.04 12:28:18 [Server] Startup 2020-04-20 10:28:18,652 Thread-2 WARN Ignoring log event after log4j was shut down
20.04 12:28:19 [Server] Startup 2020-04-20 10:28:19,835 pool-51-thread-1 WARN Unable to register Log4j shutdown hook beca

[2020-04-20 12:42] Mortderas commented on #34
And how could I provide you the whole logfile?

[2020-04-20 12:49] Trivernis commented on #34
In the `logs` directory of the server there are several logfiles with `latest.log` being the logfile from the latest run of the server. You can attach files in this issue, paste them at pastebin.com or hastebin.com or send them via email.

[2020-04-20 12:51] Trivernis commented on #34
That seem to be some errors of the apache log4j logger. Might be related to https://issues.apache.org/jira/browse/LOG4J2-658.

[2020-04-20 13:29] Mortderas commented on #34
https://hastebin.com/ofelehutis.md

[2020-04-20 13:48] Trivernis commented on #34
Hm, so basically every few chunks a chunk takes ages to generate. Since its the generation itself this is most likely related to the Realistic World Generator plugin which also appears in the stack traces.

As for your issue with the task not being listed, it should be fixed with the next update.

[2020-04-20 14:34] Mortderas commented on #34
Then I will contact forward the RWG staff. Thank you for your time and patience!

[2020-04-22 11:09] Mortderas commented on #34
Guess who's back
The speed of ch/s is stuck at 1.3 and I've set it up in the config to be around 5 trying to test how much my server's CPU can hold. Any ideas why the config doesn't affect the plugin?

[2020-04-22 17:26] Trivernis commented on #34
What does the config look like?

[2020-04-22 17:42] Mortderas commented on #34
https://pastebin.com/eNMsQ4BX

[2020-04-22 18:25] Trivernis commented on #34
The max-loaded-chunk=1 slows it down significantly since it unloads a chunk every second run instead of generating one.

[2020-04-23 07:29] Mortderas commented on #34
Well, I actually have had to change the period

[2020-04-23 07:29] Mortderas commented on #34
But your advice was very good

[2020-04-23 15:21] Trivernis commented on #34
Oh, I didn't notice, yeah 15 is very slow

[2020-04-27 18:12] Saharo4eks opened #35 "[BUG] Don't work generate"
**Describe the bug**
I just went to hell, I've never been here before. Set the border /worldborder. I marked setCenter to your plugin, set it to load /chunk generate world_nether, and it finished it in a second with the words "0 chunks Loaded". In the ordinary world, the same thing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. /worldborder 21000
2. /chunkm setCenter
3. /chunkm gen

[2020-04-27 19:33] Trivernis commented on #35
The world border center uses the block coordinates while the plugin uses chunk coordinates for the center. So you set the chunkmaster center to be outside of the worldborder and it stops immediately.

[2020-04-28 13:14] CyOze opened #36 "Does the plugin keep the progress when restarting the server?"
Hello,
I want to generate a world, but sometimes I have to restart my server.
Can I restart my server and continue generating afterwards?
And avoid the generation of an already loaded chunck to save time?
Thanks you in advance.

[2020-04-28 13:39] Trivernis commented on #36
@CyOze The plugin stores the progress every 30 seconds and when you shut down the server. It continues pending tasks after the server startup so you can just restart it without worrying about it.

[2020-04-28 15:07] CyOze commented on #36
Ok thanks you, This plugin it's so much better than WorldBorder it's a great work thanks you a lot

[2020-04-28 15:14] Saharo4eks commented on #35
What can I do to avoid this behavior from the plugin?

[2020-04-28 15:27] Trivernis commented on #35
You can set chunkmasters center to 1/16th of the worldborders center coordinates (since a chunk is 16x16 blocks).

[2020-04-28 15:29] #36 closed, assigned to nobody

[2020-04-28 15:30] #34 closed, assigned to Trivernis

[2020-04-28 15:30] #24 closed, assigned to nobody

[2020-04-28 15:31] #26 closed, assigned to nobody

[2020-04-28 22:56] yimyum opened #37 "[FEATURE] Circular Generating"
**Is your feature request related to a problem? Please describe.**
WorldBorder plugin has circular generation but it doesn't work anymore due to being dropped.
**Describe the solution you'd like**
I would like circular generation of maps similar to that of worldborder so that I can better fill my dynmap map

**Describe alternatives you've considered**
Adding a border to rendering similar to WorldB

[2020-04-29 06:41] Trivernis commented on #37
@yimyum I've got good news for you. I've already implemented circular generation in the develop branch. The reason it's not released yet is that the circle for some reason generates slightly wrong in spigot servers (while it works fine on paper servers).

[2020-04-29 18:43] freaky767 opened #38 "[QUESTION] What PaperSpigot versions does the plugin work in?"
title

[2020-04-29 19:32] Trivernis commented on #38
1.14 - 1.15

[2020-05-01 07:36] Trivernis opened #39 "[FEATURE] Validation command/task"
**Is your feature request related to a problem? Please describe.**
A lot of players report chunks not being generated. With this there can be certainty.

**Describe the solution you'd like**
Either a step that is executed after the generation to validate if the world was fully generated or a command to trigger it.

[2020-05-01 15:34] freaky767 commented on #38
Could backwards compatibility maybe potentially be added to the plugin?

[2020-05-01 18:38] Trivernis commented on #38
I'm not planning on implementing backwards compatibility at the moment

[2020-05-03 21:36] Saharo4eks opened #40 "[BUG] Sqlite Error when creating a task right after startup"
Gradually, I expanded the map and started loading, everything went as normal. But at one point, the download just stopped. I thought it was a bug and restarted the server. After that I started the download again and got this error: https://pastebin.com/CXrsnc42

[2020-05-11 19:06] Hermiten commented on #21
Would be the perfect plugin with this :)

[2020-05-12 15:35] Trivernis commented on #40
Wait, how did I miss this issue?
Anyways that stacktrace will be solved in the next update.
It's not related to the stopped loading tho.

[2020-05-12 15:36] #38 closed, assigned to Trivernis

[2020-05-15 16:25] Findus642 opened #41 "[FEATURE] Make the coordinages for setCenter optional and use the player position per default"
**Is your feature request related to a problem? Please describe.**
Yes / No. The plugin does support setting the central chunk of the world via the X:Z coordinates. However you are unable to get these coordinates in the plugin alone.

**Describe the solution you'd like**
A command that would allow you to easily get the X:Z coordinates of a chunk. Whilst I was able to obtain these by creating a plu

[2020-05-15 16:39] Trivernis commented on #41
I could change the behaviour of the setCenter function to use block coordinates. Also keep in mind that the chunk coordinates are just the world coordinates divided by 16 so you don't have to go as far as creating a plugin to get them.

[2020-05-16 12:04] Findus642 commented on #41
I suppose having the coordinates as an optional argument could be feasible?

[2020-05-18 07:55] Poatita opened #42 "How to increase the generation speed"
Hello, I am having a problem with the world generation. No matter what you touch of the settings it does not affect the generation of chunks. Currently I have an i9 and 7gb of ram and it generates 25 chunks per second at most.

P.S: you should create a discord to solve minor doubts like this n.n

[2020-05-19 11:27] naughtius-maximus-8492 commented on #42
Same thing here. Running a Ryzen 5 3600 and by default, it generates at around 9 ch/s. The only setting which increases the generation speed is period where decreasing from 2 to 1 means my generation speed goes to a solid 20.0 ch/s. However tweaking chunk-skips-per-step, mspt-pause-threshold, max-pending-chunks and max-loaded-chunks makes _no_ difference whatsoever.

Using Paper to do this as well

[2020-05-20 11:04] Trivernis commented on #42
I feel like that might be even more work than I have now for answering requests

What tps is the server reporting? If the value is still at 20 you should increase the value for chunks-per-step even further.
Also make sure to set the value for max loaded chunks at 10*chunks-per-step to make sure that the plugin doesn't unload chunks every other run.

You should also analyse how much cpu the minecra

[2020-05-20 11:05] #35 closed, assigned to Trivernis

[2020-05-22 10:34] Eleches-max opened #43 "how can i increase the generation speed?"
generation:
  period: 2
  chunks-per-step: 10
  chunk-skips-per-step: 100
  mspt-pause-threshold: 500
  pause-on-join: true
  max-pending-chunks: 100
  max-loaded-chunks: 100
  ignore-worldborder: false
database:
  filename: chunkmaster.db
language: en
dynmap: true

[2020-05-22 10:37] Eleches-max commented on #43
https://gyazo.com/e0cf754194d37ef2a1b1bfbc2026a647
https://gyazo.com/59e03315f34b26be6c27b8175685e42f

[2020-05-22 10:41] Eleches-max commented on #43
[12:37:45 INFO]: [Chunkmaster] Task #2 running for 'world'. Progress: 927603 chunks (14.84%) , ETA: 11:24:55, Speed: 129.5 ch/s, Last Chunk: -256, 495
[12:38:14 INFO]: [Chunkmaster] Task #2 running for 'world'. Progress: 928038 chunks (14.85%) , ETA: 101:57:54, Speed: 14.5 ch/s, Last Chunk: 179, 495
[12:38:44 INFO]: [Chunkmaster] Task #2 running for 'world'. Progress: 931316 chunks (14.90%) , ETA:

[2020-05-22 11:03] Trivernis commented on #43
Have you tried modifying the config according to [this guide](https://github.com/Trivernis/spigot-chunkmaster/wiki/Increase-the-generation-speed)?

[2020-05-22 11:09] Eleches-max commented on #43
I am trying now

[2020-05-22 11:09] Eleches-max commented on #43
do I have to restart or just / chm reload?

[2020-05-22 11:12] Eleches-max commented on #43
generation:
  period: 1
  chunks-per-step: 2000
  chunk-skips-per-step: 1000
  mspt-pause-threshold: 500
  pause-on-join: true
  max-pending-chunks: 1000
  max-loaded-chunks: 10000
  ignore-worldborder: false
( server crash )

[2020-05-22 11:12] Eleches-max commented on #43
[13:08:54 INFO]: [Chunkmaster] Saving the progress of task #2 to the database...
[13:08:54 INFO]: [Chunkmaster] Canceled task #2.
[13:08:54 INFO]: [Chunkmaster] Resuming chunk generation task for world 'world'...
[13:08:54 INFO]: [Chunkmaster] 1 saved tasks loaded.
[13:09:16 INFO]: [Chunkmaster] Task #2 running for 'world'. Progress: 1046011 chunks (16.73%) , ETA: 0:01:42, Speed: 50858.7 ch/s, Las

[2020-05-22 11:20] Eleches-max commented on #43
i try generation:
  period: 1
  chunks-per-step: 400
  chunk-skips-per-step: 2000
  mspt-pause-threshold: 500
  pause-on-join: false
  max-pending-chunks: 200
  max-loaded-chunks: 2000
  ignore-worldborder: false
database:
  filename: chunkmaster.db
language: en
dynmap: true

[2020-05-22 11:23] Trivernis commented on #43
Just /chm reload should be enough.

[2020-05-22 11:24] Trivernis commented on #41
You mean that it uses the players coordinates by default?

[2020-05-22 11:25] Eleches-max commented on #43
![image](https://user-images.githubusercontent.com/54324702/82663222-ef4a9c00-9c37-11ea-8b49-185ae633305f.png)

[2020-05-22 11:25] Eleches-max commented on #43
[13:21:13 INFO]: [Chunkmaster] Task #2 running for 'world'. Progress: 1061078 chunks (16.98%) , Speed: 0.0 ch/s, Last Chunk: 330, -502
[13:21:46 INFO]: [Chunkmaster] Task #2 running for 'world'. Progress: 1062311 chunks (17.00%) , ETA: 35:04:00, Speed: 41.1 ch/s, Last Chunk: -523, -122
[13:22:14 INFO]: [Chunkmaster] Task #2 running for 'world'. Progress: 1062714 chunks (17.00%) , ETA: 107:16:23, S

[2020-05-22 11:26] Eleches-max commented on #43
[13:25:05 WARN]: java.lang.Exception: Error occurred detecting class name
[13:25:05 WARN]:        at co.aikar.timings.MinecraftTimings.lambda$getPluginTaskTimings$0(MinecraftTimings.java:77)
[13:25:05 WARN]:        at java.util.concurrent.ConcurrentMap.computeIfAbsent(ConcurrentMap.java:324)
[13:25:05 WARN]:        at co.aikar.timings.MinecraftTimings.getPluginTaskTimings(MinecraftTimings.java:71)

[2020-05-22 11:35] Trivernis commented on #43
Looks like EWG threw an error.
The generation speed itself is relatively high, I think you won't reach much more since the scheduling of the bukkit task to trigger the generation limits it.

[2020-05-22 11:36] Eleches-max commented on #43
![image](https://user-images.githubusercontent.com/54324702/82664107-a85da600-9c39-11ea-9bb5-64b444547ccf.png)
ok...

[2020-05-22 13:35] Eleches-max commented on #43
to load the folder up to 20kx20k what command do I have to enter?

[2020-05-22 13:52] Trivernis commented on #43
/chm generate <worldname> 10000 blockradius

[2020-05-22 16:17] Eleches-max commented on #43
Can't you make me some settings that are the limit that my server pushes?

[2020-05-22 16:23] Trivernis commented on #43
I can also only guess

[code]

[2020-05-22 16:53] Eleches-max commented on #43
/chm generate 10000 blockradius = 10kx10k

[2020-05-22 16:54] Trivernis commented on #43
no, its the radius so its 20kx20k

[2020-05-26 00:54] pdugery opened #44 "Error while generating chunks"
I'm running Paper-284 and am receiving errors when trying to generate chunks. The exact command I am trying to use is /chm generate world 11000000. I receive errors practically instantly after starting the task.

``>.... [20:52:57 FATAL]: Failed to read chunk data for task: Task for world: 'world' at 75,102 poi: false, hash: 1793445440
net.minecraft.server.v1_15_R1.ReportedException: Loading NBT d

[2020-05-26 16:20] Findus642 commented on #41
Yes exactly that.

[2020-05-27 00:54] NubeBuster opened #45 "[FEATURE] Add populator"
**Problem**
Populating a new chunk is for some instances, like my skygrid server, almost as intensive as the chunk generator. This results in still getting lag spikes on my server.

**Solution**
I would like you to add the option to also populate newly generated chunks.
I am not sure if this can be done async on paper. But since I am generating the world before release this wouldn't be a problem f

[2020-05-27 21:16] gourdd opened #46 "Uncaught exception on chunk unload"
**Describe the bug**
While generating chunks these errors came up in console. The commands used were ./chm setCenter world 0 0, ./chm generate world 1500 blockradius, and ./chm resume

**Expected behavior**
I expected this to not happen I guess.

**Screenshots**
https://prnt.sc/sp07v3
https://prnt.sc/sp087w

**Server:**
 - OS: CentOS 7.5
 - Specs [e.g. Intel Xeon E5-2680, 8GB Ram]
 - Java Version

[2020-05-28 20:52] Trivernis commented on #44
The first one is a bug in the vanilla world generation so maybe report that to mojang.
Also can you provide the server log file?

[2020-05-28 20:56] pdugery commented on #44
I was able to fix it. It turned out I had a decent amount of corrupted
chunks, which I assume came from switching hosts and not all the world's
files transferring. I ran region-fixer and it is now working fine. The only
issue I am having is that players are getting stuck on the loading terrain
screen while I am generating chunks. I originally thought it was just
because they were logging into an a

[2020-05-29 07:43] aikar commented on #46
This is resolved in latest paper.

[2020-05-29 07:51] Trivernis commented on #40
Reopened until its solved by a PR from develop.

[2020-05-29 07:53] Trivernis commented on #46
I'll add some additional error handling to the unload handling.
The third warning in the console is related to #40 and will be solved in the the next version.

[2020-05-29 07:57] Trivernis commented on #44
issue I am having is that players are getting stuck on the loading terrain
screen while I am generating chunks

Thats weird. The only solution I can think of is to decrease the generation speed, but if you say you've got 20 tps that shouldn't be an issue.

[2020-05-31 21:03] NubeBuster opened #47 "[QUESTION] Chunkmaster very slow. How to increase speed"
I'm using chunkmaster on the latest paperspigot version. The chunks per second is only around 10 and my cpu is at around 10%. Any way to drastically increase the cpu usage? I have tried upping the values in config but that doesn't work.

Async chunks is true in paper.yml

[2020-06-01 00:23] NubeBuster opened #48 "[BUG] Stacktrace"
**Describe the bug**
Chunk generator does not work after a while. Not sure how long. Spams console with error.

**To Reproduce**
Start chunk generator

**Server (please complete the following information):**
 - OS: Ubuntu 20
 - Specs Intel Xeon 3470
 - Java Version OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-3ubuntu1)
 - Minecraft Server Version Paper-318 1.15.2
 - Plugin Version chun

[2020-06-01 07:55] Trivernis commented on #48
This is a [papermc issue](https://github.com/PaperMC/Paper/issues/3459) and solved with a paper v325.

[2020-06-01 07:55] #48 closed, assigned to Trivernis

[2020-06-01 07:57] Trivernis commented on #47
What is your current config?

[2020-06-01 08:26] Trivernis commented on #45
Populating as in generating structures or as in spawning entities?

[2020-06-01 08:26] #43 closed, assigned to Trivernis

[2020-06-01 08:26] #42 closed, assigned to nobody

[2020-06-01 08:26] #44 closed, assigned to Trivernis

[2020-06-01 12:25] NubeBuster commented on #47
current config is

`generation:
  period: 1
  chunks-per-step: 100
  chunk-skips-per-step: 100
  mspt-pause-threshold: 2000
  pause-on-join: true
  max-pending-chunks: 1500
  max-loaded-chunks: 2500
  ignore-worldborder: false`

but I have tried many different values. Seeing what would work and what not. The absoulute maximum chunks per second I got was 10

[2020-06-01 12:27] NubeBuster commented on #45
A blockpopulator is for generating structures and any actions that cannot be done during chunkdata creation. Such as changing spawner types, filling chests, etc.

https://hub.spigotmc.org/javadocs/spigot/org/bukkit/generator/BlockPopulator.html

[2020-06-01 20:39] Trivernis commented on #45
I'll look into it

[2020-06-02 15:46] Trivernis commented on #47
Hmm, I can't really help you then, that config looks good.

[2020-06-02 20:07] 127p commented on #47
Any guide to learn to optimize the plugin?

[2020-06-02 20:16] Trivernis commented on #47
@127p Only the config guide

[2020-06-02 20:44] 127p commented on #47
@Trivernis I understand, do you have any advice to increase the speed of generation? some proportion among the available options? something to watch out for? any formula to have a good relationship between max loaded chunks, max pending chunks and chunk per step ???
How has it worked best for you, with what settings, etc (??)

[2020-06-02 20:57] 127p opened #49 "[QUESTION] Chunk speed 0 ch/s"
Is there any way to avoid that the generation speed per second is more stable?

I am generating an area of ​​20000 block radius in "The end"
CPU fluctuates around 30% and 99% all the time

The server is running in paper 1.15.2 b.333
Settings:
period: 2
chunks-per-step: 500
chunk-skips-per-step: 500
 max-loaded-chunks: 500
max-pending-chunks: 1000
mspt-pause-threshold: 500

These are the only optio

[2020-06-02 20:58] Trivernis commented on #47
The [example config](https://github.com/Trivernis/spigot-chunkmaster/wiki/Increase-the-generation-speed) in the wiki entry was the fastest for me so far.
In general

`max-pending-chunks = ~ 2*chunks-per-step`, so that there are 2 runs of requesting before the plugin waits for chunks to be loaded.

`max-loaded-chunks = ~ 5*chunks-per-step`, so you only unload all loaded chunks every 5 runs.

[2020-06-07 13:37] bastobasto opened #50 "[QUESTION] Is there any way to get the generation to go up until the worldborder border, and not over it ?"
**Question**

Is there any way to get the generation to go up until the worldborder border, and not over it  ?

**Additional context**

I'm using worldborder for the context of doing a round Earth thanks to the wrap feature, but the chunk outside the border keep generating ( Using chunkmaster of course ). It's a rectangular custom map so i'm not sure the vanilla one could do it correctly.

[2020-06-07 13:42] Trivernis commented on #50
the plugin can't generate rectangular but you could generate two squares to get a rectangle.
1. set the first center: chm setCenter world <chunk X> <chunk Z>
2. generate until the world border radius: chm generate world <radius> blockradius
3. set the second center: chm setCenter world <chunk X> <chunk Z>
4. same as 2.

[2020-06-07 13:42] Trivernis commented on #50
or use wb fill

[2020-06-07 16:09] bastobasto commented on #50
Am I supposed to do fullrender after doing generate ? Because it isn't working

[2020-06-07 16:36] Trivernis commented on #50
Dynmap probably isn't finished, it takes way longer to render the map than to generate it.

[2020-06-07 16:37] Trivernis commented on #49
Can you give me a full logfile?

[2020-06-07 16:38] #47 closed, assigned to Trivernis

[2020-06-07 17:00] 127p commented on #49
Here is the log for the end with the settings that i mention before
[2020-06-02-8.log.gz](https://github.com/Trivernis/spigot-chunkmaster/files/4742514/2020-06-02-8.log.gz)
[2020-06-02-9.log.gz](https://github.com/Trivernis/spigot-chunkmaster/files/4742515/2020-06-02-9.log.gz)

Here you can see how finish the task for the end and then start the task for the overworld with other settings:
period: 2

[2020-06-07 17:08] Trivernis commented on #49
Oh, I think the speed variation is because the plugin pauses the generation when the mspt is higher than 500 ms. So my guess is that thats the reason it reported 0 ch/s

[2020-06-09 07:26] zmspiler opened #51 "[QUESTION] Chunks possibly not loading"
**Question**

Hey there! I'd like to ask about dynmap integration with chunkmaster.

I have a world that is currently 15k * 15k blocks in size. After leaving chunkmaster to generate most of that area, a lot of it still didn't show on dynmap.

I'm thinking of a few issues that could be the problem:
* Dynmap rendering way slower (I have read that it is but it doesn't really make sense to me why it w

[2020-06-09 14:16] zmspiler commented on #51
This is the screenshot after the fullrender.

https://i.imgur.com/KFpYywX.jpg

[2020-06-15 17:34] Trivernis commented on #51
Dynmap should render chunks if they are generated by default. Since this seems to be unrelieable the plugin triggers it for each generated chunk. So if it doesn't render it, its a dynmap issue.

[2020-06-15 17:34] #51 closed, assigned to Trivernis

[2020-06-15 17:35] #50 closed, assigned to Trivernis

[2020-06-15 17:35] #49 closed, assigned to Trivernis

[2020-06-21 08:55] johnsoncui02 opened #52 "[QUESTION] How to increase and skip all the already generated chunks faster?"
How to increase and skip all the already generated chunks faster?

I have generated a 15k x 15k map and I want to increase it to 20k x 20k.
What kind of settings would enable me to scan the already generated chunks faster?
or is the plugin already doing that itself?

[2020-06-23 06:14] johnsoncui02 opened #53 "[QUESTION] Running ChunkMaster on a live server"
I, I was wondering if or anyone has the minimal settings for running chunkmaster while players are online? Currently I've tried very low settings but yet it is still dropping TPS for some reason. If anyone has suggestions on and if this can be done without dropping TPS heavily please do let me know.

Here is my current settings (which still lags)
https://pastebin.com/raw/U6W3d1aj

[2020-06-23 08:16] Trivernis commented on #53
Set chunks-per-step to 1 and mspt-pause-threshold to 50

[2020-06-23 08:17] Trivernis commented on #52
Increase the value of the chunk-skips-per-step setting which is literally the number of chunks that are being skipped.

[2020-06-25 17:01] Snukkieboy opened #54 "How can i increase the map from 10000x10000 to 12500x12500 without increasing the worldborder?"
How can i increase the map from 10000x10000 to 12500x12500 without increasing the worldborder?

How can i increase the map without moving the border because when i try /chm generate world 610351. it will stop when it hits the worldborder

[2020-06-25 17:13] Trivernis commented on #54
In the config file set `ignore-worldborder` to `true`

[2020-06-25 17:13] #54 closed, assigned to Trivernis

[2020-06-26 10:09] jinkhya opened #57 "[BUG] Crash quickly after starting a pregen job [1.16.1]"
**Describe the bug**
After starting a pregen task (with a 10000 blocks radius in the nether) it crashes

**To Reproduce**
Steps to reproduce the behavior:
Run /chunkmaster generate world_nether 10000
Wait for a couple minutes and it crashes

**Expected behavior**
Not to crash :)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Server (please complete the following i

[2020-06-26 10:12] Trivernis commented on #57
Oh, I've encountered that one. I think it's a bukkit bug so you should report it there too.

[2020-06-26 10:13] Trivernis commented on #57
@Trivernis Uhm, I think my reply was a bit verbose

[2020-06-26 10:24] jinkhya commented on #57
ok I'll open an issue and link this thread :)

[2020-06-26 10:36] jinkhya commented on #57
done : https://hub.spigotmc.org/jira/browse/SPIGOT-5838

[2020-06-26 10:41] Trivernis commented on #57
Great, I'll leave this issue open until we've got further information

[2020-06-26 22:24] Trivernis commented on #57
Resolved as SPIGOT-5926

[2020-06-26 22:24] #57 closed, assigned to Trivernis

[2020-06-26 22:24] #52 closed, assigned to Trivernis

[2020-06-26 22:25] #40 closed, assigned to Trivernis

[2020-06-26 22:25] #30 closed, assigned to Trivernis

[2020-06-26 22:28] #37 closed, assigned to Trivernis

[2020-06-27 17:26] #31 closed, assigned to nobody

[2020-06-27 17:26] #46 closed, assigned to Trivernis

[2020-06-27 17:26] #41 closed, assigned to Trivernis

[2020-06-27 19:11] Trivernis commented on #53
With Release 1.0 I've added an option to pause when a specific number of players are online, so that might help you as well.

[2020-06-27 19:11] #53 closed, assigned to Trivernis

[2020-06-28 05:37] Rend-Creator opened #61 "[BUG] Incorrect percentage of total chunk generated & ETA Time"
**Describe the bug**
There is a weird bug that the percentage of total chunk generated seems to be off or fluctuating and ETA time at which the chunk generation will be complete. (although it doesn't affect the chunk generated totality just visual bug.)

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a world.

**Expected behavior**
The expected result should have a concise percentag

[2020-06-28 07:02] Trivernis commented on #61
@Rend-Creator What was the exact command you've used?
Or at least, which shape did you use?

[2020-06-28 07:51] Rend-Creator commented on #61
chm generate nether_world 2500, Also I used square by default

[2020-06-28 14:52] Saharo4eks opened #62 "Fatal Error PaperSpigot#10 1.16.1[BUG]"
Hellow, I'm started generate world_nether on my server and see this fatal error

**Server (please complete the following information):**
 - Specs [e.g. Ryzen5 1400, 12GB Ram]
 - Java Version [e.g. Java 1.9]
 - Minecraft Server Version [e.g. Paper 1.16.1 #10]
 - Plugin Version [e.g. 1.0]

ERROR: https://pastebin.com/piNNvgvM

[2020-06-28 15:18] Trivernis commented on #62
That looks like an issue of paper itself to me. Please report it in the Paper repository https://github.com/PaperMC/Paper/issues

[2020-06-28 17:24] Trivernis commented on #62
https://github.com/PaperMC/Paper/issues/3658

[2020-06-28 19:27] #61 closed, assigned to Trivernis

[2020-06-28 19:37] Saharo4eks opened #64 "[BUG] Generate Map 1.16"
Hi, a generate my map and recieve this error: https://pastebin.com/7arSgN5M

PaperSpigot#10 1.16.1
Windows 10
Ryzen5 1400, 8GB RAM

[2020-06-28 19:45] Trivernis commented on #64
That one is most likely not related to chunkmaster but either a paper or a vanilla bug.
Does it affect the server in some way?

[2020-06-28 20:00] Saharo4eks commented on #64
Nope, but this error.
I tell Paper's team for this

[2020-06-29 22:14] leasoncre commented on #62
i'm seeing this too, though i believe it happened when i tried to stop the server.
Paper-24 (1.16)
[latest.log](https://github.com/Trivernis/spigot-chunkmaster/files/4848304/latest.log)
EDIT: no, it just happens after about 30 min or so... sometimes ticklags the server, but 1.16 still beta imo

[2020-06-30 05:27] Trivernis commented on #62
@leasoncre Add your issue to the Paper issue I've linked above

[2020-06-30 07:11] draakkin opened #65 "[FEATURE] Allow us to specify a range in the generation radius to skip inner areas"
Greetings, I was wondering if it would be possible to add a feature where we can specify a range of chunks to generate?
Such as /chm generate world 10000-20000 square

For example, I would like to generate all chunks in between 10000 and 20000 blocks away from the center. (Skipping the inner 10000)

The reason I would like this, is because I am pre-generating in phases and I expand the world borde

[2020-06-30 08:21] Trivernis commented on #62
The paper issue has been solved

[2020-06-30 08:21] #62 closed, assigned to Trivernis

[2020-06-30 08:25] Trivernis commented on #65
I really like that Idea and consider implementing it for the next minor release

[2020-06-30 08:25] Trivernis commented on #65
I really like that Idea and consider implementing it for the next minor release

[2020-06-30 08:25] Trivernis commented on #65
Oops, I've pressed the wrong button :)

[2020-06-30 14:23] Johnibur commented on #64
This issue is occasionally happening on Spigot as well.

[2020-06-30 14:41] Trivernis commented on #64
Well then I guess It needs to get reported to mojang

[2020-07-04 17:43] scorninpc commented on #65
+1

[2020-07-08 01:05] Neitex opened #66 "[BUG] Task restarts from 0% after restarting server"
Chunkmaster starts world generation from 0% after restarting server properly (with stop command.)
Steps to reproduce:
1. Start world generation
2. Wait some time
3. Stop server w/ stop command
4. Run server again

Latest build from Spigotmc.org
Win10 Pro 16GB

[2020-07-08 05:23] Trivernis commented on #66
@Neitex Can you attach a log file with the error occuring?

[2020-07-08 05:49] kaanakduman commented on #66
I also had the issue, but I didn't even stop the server. I simply paused and resumed it. I'm on Purpur-640. I can reliably reproduce the issue on my server. Simply pausing the generation and then resuming it resets it to 0%.
![image](https://user-images.githubusercontent.com/33491458/86882631-31c81b00-c0b6-11ea-914f-86068991fce6.png)

[2020-07-08 08:52] dalandis opened #67 "[BUG] It does not work if the name of the world is only from numbers"
**Describe the bug**
It does not work if the name of the world is only from numbers

**To Reproduce**
Steps to reproduce the behavior:
1. in server.properties specify level-name = 2015
2. start server
3. run in server console 'chunkmaster generate 2015'
4. get the World '2015' not found!

**Expected behavior**
The world was expected to be generated

**Server (please complete the following informat

[2020-07-08 10:06] Trivernis commented on #67
Can you send me a logfile for this?
My guess is that the server interprets the name as a radius and says that you need to specify a world name.

[2020-07-08 10:08] Trivernis commented on #66
Theres a problem that the initial progress value is always 0 because the task hasn't run and checked the progress yet. Could this be related?

[2020-07-08 10:28] Neitex commented on #66
In my case, one time it ran 8 hours straight, and still checking chunks after restart.

Sure. [https://paste.ubuntu.com/p/fZVKqffXSS/](urll)

P.S. Today I encountered another problem, but now it says " [Chunkmaster] Task #368 for Chunkmaster v1.0.1 generated an exception" and crashed server.  Should i create another issue?

[2020-07-08 10:36] Trivernis commented on #66
Okay, looks like that might really be a bug.
Ill look into it, my guess is that it only affects spigot.
Please open a new issue for the other problem, so I can keep better track of it.

[2020-07-08 10:49] Neitex opened #68 "[BUG] Chunkmaster crashes server"
**Describe the bug**
After some time running generation task, server crashed

**To Reproduce**
I don't know how to reproduce it.

**Server (please complete the following information):**
 - OS: Win10 Pro
 - Specs: I5-9400F, 16GB (minecraft allocated 14GB)
 - Java Version: AdoptOpenJDK JRE w/Hotspot 11.0.7.10 (x64)
 - Minecraft Server Version: git-Paper-71 (MC: 1.16.1)
 - Plugin Version: 1.0.1

Log:

[2020-07-08 13:17] handryck commented on #66
I can confirm that's the same issue with Paper 1.16.1 build #71.
Either after restart or pause/resume.

[2020-07-08 17:45] Trivernis commented on #68
Oh, that one is not really related to chunkmaster but to papers async chunk generation. If it still ocures in the latest paper, report it to them.

[2020-07-08 17:45] #68 closed, assigned to Trivernis

[2020-07-08 17:46] Trivernis commented on #64
Since there was no further information about this and because it's not directly related to the plugin, I'm closing the issue now.

[2020-07-08 17:46] #64 closed, assigned to Trivernis

[2020-07-09 07:11] dalandis commented on #67
After entering the "chunkmaster generate 2015" command, I get the message "You need to provide a world name!" or "World '2015' not found!"

I also tried to specify the name of the world in quotes and back quotes, but the result is the same

<img width="1135" alt="Снимок экрана 2020-07-09 в 11 05 05" src="https://user-images.githubusercontent.com/15212686/87008038-31be3d00-c1d4-11ea-98b6-07fece7e74

[2020-07-09 08:06] Trivernis commented on #67
@dalandis Should be fixed with the next version

[2020-07-11 00:18] wholenewmess opened #69 "[BUG] Dynmap version is null when initializing dynmap support"
**Describe the bug**
The plugin won't start up on the latest version of Spigot-1.16.1.

[code]

 - Java Version 8
 - Minecraft Server Version Paper 1.16.1 #87
 - Plugin Version 1.0.1

[2020-07-11 06:18] Trivernis commented on #69
Please provide the full log file and the version (is it paper or spigot, you kinda mention both). The lines of the log you are showing don't provide any information about what happend and are probably unrelated to the plugin not starting.

[2020-07-11 12:52] bdnugget opened #70 "[BUG] Task restarts from 0% after pausing due to playercount"
**Describe the bug**
When the task gets paused because of players joining, and resumes after they leave, it starts from 0% again.
Sometimes (if a lot more players have joined) it doesn't resume automatically and claims to have been paused manually. Manually resuming still makes it start at 0%.

[Screenshot](https://i.imgur.com/T3PtJUN.png)

**Server (please complete the following information):**

[2020-07-11 13:47] Trivernis commented on #70
Can you please attach the log file and the chunkmaster.db file (in the plugins folder) after it has been running for a bit?

[2020-07-11 13:48] Trivernis commented on #66
Can you please attach your servers database file (chunkmaster.db in the plugins folder) after the plugin has been running for some time?

[2020-07-11 13:55] Trivernis commented on #67
Fixed in #71

[2020-07-11 13:55] #67 closed, assigned to Trivernis

[2020-07-11 14:39] #66 closed, assigned to nobody

[2020-07-11 14:41] handryck commented on #66
Hello. I saw you need the chunkmaster.db file but you closed the issue. Is it still needed? I will send it soon.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Trivernis <notifications@github.com>
Sent: Saturday, July 11, 2020 4:39:20 PM
To: Trivernis/spigot-chunkmaster <spigot-chunkmaster@noreply.github.com>
Cc: handryck <giuseppe.latorre00@outlook.it>; Co

[2020-07-11 14:41] Trivernis commented on #66
It's not needed anymore but thanks for your reply

[2020-07-11 14:43] #70 closed, assigned to Trivernis

[2020-07-11 22:03] wholenewmess commented on #69
I'm using Paper 1.16.1 #86 now. Here's the full log file:
[code]

Looks like the issue is with Dynmap - the plugin won't start if it doesn't recognize the Dynmap version, or there's some kind of conflict. I've disabled Dynmap and it works fine.

[2020-07-11 22:05] Trivernis commented on #69
Oh, my guess is that you're still using an old 1.15 dynmap version in 1.16.1. You should either update it or disable it.

[2020-07-16 00:26] Dragonber1 opened #74 "[BUG] Error messages when generating new chunks on 1.16.1"
**Describe the bug**
Chunkmaster sends error messages when new chunks are generated.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Chunkmaster to plugins folder
2. Start the server
3. Create a Chunkmaster task specifically: /chunkmaster generate world 10000 square
4. See error when new chunks are generated, generation just keeps going and sending errors.

**Expected behavior**
Chunks g

[2020-07-16 04:49] Trivernis commented on #74
That issue is probably a paper or even vanilla issue. My suggestion is that you report it to paper.

[2020-07-16 10:49] Dragonber1 commented on #74
Found the issue, it was unrelated to chunkmaster. The world was corrupted, wouldn't have found out without using chunkmaster, so thanks.

Edit, I was wrong, the world is not corrupted, it’s a known bug with older minecraft version villages converted to minecraft 1.16. Using mcaedit to delete the regions and generating them again fixes the problem.

[2020-07-16 10:49] #74 closed, assigned to Trivernis

[2020-07-25 13:59] Jepijepjep422 opened #78 "[FEATURE] Enable/disable automatic generation task on server start"
**Is your feature request related to a problem? Please describe.**
Noticed people complaining about crashes on server start, only happened to me once

**Describe the solution you'd like**
adding the option to enable/disable running on server start at the config file

**Describe alternatives you've considered**
none

**Additional context**
none

[2020-07-25 14:05] Jepijepjep422 opened #79 "[FEATURE] Display total number of chunks to be generated on /chm list"
**Is your feature request related to a problem? Please describe.**
nope

**Describe the solution you'd like**
in the picture, currently it only displays the percentage

**Describe alternatives you've considered**
none

**Additional context**
![image](https://user-images.githubusercontent.com/48153804/88458726-a37bd380-cec2-11ea-94a8-29c3e440999e.png)

[2020-07-26 15:54] #78 closed, assigned to Trivernis

[2020-07-26 15:54] #79 closed, assigned to Trivernis

[2020-07-26 16:26] Trivernis commented on #39
Implemented in 1.3.0 as a step of generation

[2020-07-26 16:26] #39 closed, assigned to Trivernis

[2020-07-28 07:54] dalandis commented on #21
That would be great.

[2020-07-28 09:47] NPBeta opened #89 "[BUG] Task seems not resuming automatically after 1+ players joined and quited"
**Describe the bug**
I set `pause-on-player-count` to 1 in the config. If there is only one player joined server and then quited, the task will auto pause and resume properly. However, if 2 or more players joined and quited, I just get `Generate progress is manually paused` message in the console. Don't know what happen if the value is not 1.

**To Reproduce**
Steps to reproduce the behavior:
1. S

[2020-07-28 09:51] NPBeta commented on #89
In addition, there is always a TASK CANCEL FAILED warning when `The player count has reached the pause value. Pausing generation...`. I'm sure the task has been cancelled and saved properly because the task always resumes at where it has been paused.

[2020-07-29 01:02] NPBeta opened #90 "[BUG] Missing Percentage and ETA in Console Output"
**Describe the bug**
The progress message nolonger shows generate percentage and ETA.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a task
2. Start the task
3. Wait Progress message shows in console
4. See the message

**Expected behavior**
No percentage or ETA is shown.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.github

[2020-07-29 04:35] Trivernis commented on #90
Does the task generate until the worldborder?

[2020-07-29 05:54] NPBeta commented on #90
Yes, I didn't define the range in the command. I just executed `/chm generate <worldname>`.

[2020-07-29 06:00] NPBeta commented on #89
That will cause server main thread blocking too.
Stacktrace by Paper:
![image](https://user-images.githubusercontent.com/17808640/88762443-c8629600-d1a3-11ea-9f90-d6bf2e950502.png)

[2020-07-29 06:03] Trivernis commented on #90
Oh, then I can understand what happens.
Currently the eta and progress is only shown for tasks with a defined radius since the coordinates providing shape returns the progress.

[2020-07-29 06:11] Trivernis commented on #89
I'll look into the problems with the pausing. The error with the task not being stopped is related to a maximum amount of milliseconds the main thread waits for the generation task to be stopped. It shouldn't be critical.
The screenshot you've attached in the latest message seems to be related to a different plugin.

[2020-07-29 06:14] NPBeta commented on #89
Sorry I take a wrong screenshot. I cannot find the correct Stacktrace now because I've clear the console output. If it shows again I will put it here to help you find the cause and fix it. Thanks!

Yes. Data can be saved although the warning shows.

[2020-07-29 06:49] Trivernis commented on #89
You could check the logfiles

[2020-07-29 08:26] NPBeta commented on #89
![image](https://user-images.githubusercontent.com/17808640/88776031-0964a580-d1b8-11ea-8b58-0c7c553dfc23.png)
Text Version: [Pastebin](https://paste.ubuntu.com/p/ySP4WTByVf/)

and Another one:
![image](https://user-images.githubusercontent.com/17808640/88776157-3022dc00-d1b8-11ea-8e15-47d8be72b655.png)
Also text version: [Pastebin](https://paste.ubuntu.com/p/y5hfHdDBrX/)

[2020-08-05 22:29] Trivernis opened #91 "[BUG] Sqlite insertion for pending chunks fails when provided with too many parameters"
**Describe the bug**
The insertion of pending chunks fails when the maximum number of allowed sql parameters is reached.

**To Reproduce**
Steps to reproduce the behavior:
1. Somehow get enough chunks into pending state
2. Wait for the scheduled job to store the pending chunks
3. ???
4. Success

**Expected behavior**
The statement should not fail even if the number of pending chunks is too high

*

[2020-08-06 06:44] Jepijepjep422 opened #92 "[FEATURE] Generate config.yml file on "/chm reload" when deleted"
**Is your feature request related to a problem? Please describe.**
I wanted to delete the config file to reset it to its original state without having to restart the server

**Describe the solution you'd like**
what the title says

**Describe alternatives you've considered**
a new command that resets the config file perhaps?

**Additional context**
right now it gives out an error when you reload a

[2020-08-06 21:27] DiegoDaniel opened #93 "[FEATURE] Completed radius size from chm stats <world>"
**Is your feature request related to a problem? Please describe.**
Is it possible to add, based on the % completed, an "approximate value" of the radious size completed from the Origen?

**Describe the solution you'd like**
Let's say i'm pre generating 10k radious.
When i run /chm stats world, i would like to see something like
world_nether
- 69 Entities
- 540 Loaded Chunks
- Generating: true (thi

[2020-08-10 21:21] Rytexs opened #94 "[BUG] setCenter throws error when given a world name as a player"
[23:16:17 ERROR]: null
org.bukkit.command.CommandException: Unhandled exception executing command 'chunkmaster' in plugin Chunkmaster v1.3.1
        at org.bukkit.command.PluginCommand.execute(PluginCommand.java:47) ~[patched_1.16.1.jar:git-Paper-134]
        at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:159) ~[patched_1.16.1.jar:git-Paper-134]
        at org.bukkit.craftbu

[2020-08-10 21:27] Trivernis commented on #94
@Rytexs could you please be a bit more descriptive with your bug report and maybe have a look at the bug report [issue template)(https://github.com/Trivernis/spigot-chunkmaster/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)?

For instance what did you do to produce this error message?

[2020-08-10 21:35] Rytexs commented on #94
I wrote / chunkmaster setCenter Survival then the error came

[2020-08-10 21:36] Trivernis commented on #94
Did you do it as a player?

[2020-08-10 21:43] Rytexs commented on #94
No i have OP

[2020-08-10 21:44] Trivernis commented on #94
No, did you execute the command as a player in the chat or in the server console?

[2020-08-10 21:45] Rytexs commented on #94
as a player

[2020-08-10 21:45] Trivernis commented on #94
Ok
I'll look into it

[2020-08-10 22:39] Rytexs commented on #94
Hay 1 more
I have chunkmaster on and the dynmap loading not....
Why ?

[2020-08-11 07:09] Trivernis commented on #94
Because dynmap is slower than chunkmaster. Just wait longer

[2020-08-11 09:02] #69 closed, assigned to Trivernis

[2020-08-11 09:02] #89 closed, assigned to Trivernis

[2020-08-11 09:02] #91 closed, assigned to Trivernis

[2020-08-11 09:02] #94 closed, assigned to Trivernis

[2020-08-11 09:02] #90 closed, assigned to Trivernis

[2020-08-11 12:52] haliknihudas666 opened #96 "[BUG] Chunkmaster doesn't accept world name with spaces"
**Describe the bug**
Chunkmaster on the console doesn't accept any spaces even tho i put this 3 ` ' " before and after the command

**Expected behavior**
Chunkmaster is expected to accept world name with spaces

**Screenshots**
![image](https://user-images.githubusercontent.com/6942408/89898786-e2748d80-dc13-11ea-96cd-4f9025ef26b0.png)

**Server (please complete the following information):**
 - OS

[2020-08-14 10:27] eliyash31 opened #97 "Remove plugin after generating chunk"
can i remove chunk master plugin after generating chunk

[2020-08-14 10:30] Trivernis commented on #97
yes

[2020-08-14 10:30] #97 closed, assigned to Trivernis

[2020-09-05 15:02] Captoblitz opened #98 "Visual Bug: Sitting at 0% chunk loading for an extended period of time and jumping between a high load and normal load"
Two issues:

Chunk loading sits at 0% when server starts for an extended period of time.

For some reason the generation speeds up really fast for one or to chm lists and then goes back down to what it original / normally is.
[latest.log](https://github.com/Trivernis/spigot-chunkmaster/files/5178248/latest.log)

[2020-09-13 08:28] Nieblue commented on #96
I am having the same issue with this plugin.  My server name is Nies Chaos, and when I am trying to pre-generate the end it throws an error because it can not find Chaos_the_end.  That would be because the folder is named Nies Chaos_the_end.  I am using the plugin better ends and they recommended your plugin as the go-to for pregenration, but I can not get it to work please help.

[2020-11-01 10:46] GriffinCodes commented on #21
WorldBorder Trim is erroring for me on 1.16.3 so I would absolutely love this feature!

[2020-11-04 20:52] Mario359 opened #99 "[TINY BUG] Typing error on the permission: cunkmaster.generate"
**Describe the bug**
The cunkmaster.generate permission seems to have been badly written (chunkmaster.generate)

**To Reproduce**
Steps to reproduce the behavior:
1. With LuckPerms, use the command /lp tree
2. Navigate until you find the cunkmaster.generate permission

**Expected behavior**
Permission should be named chunkmaster.generate

**Screenshots**
![image](https://user-images.githubusercont

[2020-11-16 08:53] #99 closed, assigned to Trivernis

[2020-11-18 05:07] JulianInvictus opened #101 "Chunkmaster .jar is being deleted"
I'm concerned that it may not have anything to do with Chunkmaster, but instead my own server but regardless I decided to post here. Recently, (past 2 days) every time I've restarted my server, it's deleted the .jar file for Chunkmaster. After scanning the logs, I can't find anything in them that points to the deletion of a whole .jar. I was wondering if you had any advice. I'm currently running P

[2020-11-18 07:54] Trivernis commented on #101
There are server providers that don't allow running chunkmaster and will just delete it.

[2020-11-18 14:23] JulianInvictus commented on #101
any way around that?

[2020-11-18 15:40] Trivernis commented on #101
I don't know, maybe renaming the jar helps

[2020-11-24 09:33] #101 closed, assigned to Trivernis

[2020-12-06 13:22] nidark opened #102 "[QUESTION]Map Generation - "Broken" Bioms "Line""
Hello,
I am not sure if this is chunkgenerator issue, but I am trying to understand what went wrong and how I can fix it.

I pregenerated the chunks with chunkmaster and later on I changed to a bigger radius and generate again.
I used dynmap to pregenerate the map a few times as well ..
I am not sure what caused this issue, from one point my bioms are broken ... they dont follow the type of the bi

[2020-12-14 09:11] Trivernis commented on #102
I don't know what caused this. I can only guess that either for some reason the seed changed after a restart or the custom world generator had a problem.
As for how to fix it: currently the only Idea I've got is to delete the region files that contain the corrupted area.

[2021-01-24 14:01] martinambrus commented on #65
+1, as I'm running into the exact same scenario myself :)

[2021-01-26 18:36] scorninpc opened #103 "Cancel cooldown reset"
I was wondering if it would be possible to add a feature where we can cancel hit cooldown?
Today we can cancel hit damage, using setCanceled of EntityDamageByEntityEvent event, but it's still reseting cooldown

For example, if I hit o do 100% of damage describled on attack cooldown. If I hit on 0.9s again, and cancel damage, the cooldown are reseted

The reason I would this, is because if anyone w

[2021-01-26 18:38] scorninpc commented on #103
Sorry for that

[2021-01-26 18:38] #103 closed, assigned to Trivernis

[2021-01-28 10:27] R0b1S opened #104 "[Chunkmaster] Task #14 finished after 0 chunks. Bug or my fault ?"
Not sure if this is bug.

I generated Paper-1.16.5 world from 0,0 to +-7k and everything went fine. Then I needed to generate radius of 2k at position -9000, -8000 so I setCenter at this position. But as I am trying generate command it keeps saying -> [Chunkmaster] Task 14 finished after 0 chunks.

Did I possibly miss something ?

[2021-01-28 10:47] Trivernis commented on #104
Did you use chunk coordinates for the center?

[2021-01-28 10:50] R0b1S commented on #104
Problem solved, my bad. Closing.

Thank you

[2021-01-28 10:50] #104 closed, assigned to Trivernis

[2021-03-06 22:12] #102 closed, assigned to Trivernis

[2021-03-07 17:16] Trivernis commented on #93
Since you can already see the running tasks with the `chm list` command, I'm just adding a field for if the generation is running in the world. For the completed tasks I'm adding a separate command.

[2021-03-07 21:05] #96 closed, assigned to Trivernis

[2021-03-07 21:10] #93 closed, assigned to Trivernis

[2021-03-07 21:11] Trivernis commented on #65
I said it's easy but it's actually not so I'm still procrastinating it

[2021-03-08 08:58] Trivernis commented on #21
This seems to require direct region file manipulation and I am currently not motivated to write the handling of that

[2021-04-02 20:58] robertalexandru12 opened #110 "Crash report"
13:08:18 ERROR]: The server has not responded for 10 seconds! Creating thread dump
[13:08:18 ERROR]: ------------------------------
[13:08:18 ERROR]: Server thread dump (Look for plugins here before reporting to Paper!):
[13:08:18 ERROR]: ------------------------------
[13:08:18 ERROR]: Current Thread: Server thread
[13:08:18 ERROR]:       PID: 34 | Suspended: false | Native: true | State: RUNNABL

[2021-04-08 19:55] #110 closed, assigned to Trivernis

[2021-05-27 15:23] BlackBaroness opened #115 "[BUG] Exception ticking world"
[code]

Paper 1.12.2, last build.

[2021-05-27 16:19] Trivernis commented on #115
I don't think that bug is related to the plugin because it occurred when ticking the world which happens only to loaded (already generated chunks). It's probably a paper or minecraft vanilla bug.

[2021-05-28 18:23] BlackBaroness commented on #115
Ok then

[2021-05-28 18:23] #115 closed, assigned to Trivernis

[2021-09-12 07:53] Trivernis commented on #98
Oh, I think it's just a visual bug because the chunk progress itself still increases.